---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: capa-controller-manager
  namespace: capa-system
spec:
  template:
    spec:
      containers:
        - name: manager
          args:
            - --leader-elect
            - --diagnostics-address=0.0.0.0:8443
            - |
              --feature-gates=EKS=true,EKSEnableIAM=true,EKSAllowAddRoles=false,EKSFargate=false,MachinePool=true,MachinePoolMachines={{ required "capaFeatureGates.machinePoolMachines is required" .Values.capaFeatureGates.machinePoolMachines | ternary "true" "false" }},EventBridgeInstanceState=false,AutoControllerIdentityCreator=true,ExternalResourceGC=true,BootstrapFormatIgnition=true
            - --watch-filter=capi
            # We need to set the sync-period to 2m to improve scale-up time, currently there is no watch in the capa controller that update the provideridlist. Upstream issues https://github.com/kubernetes-sigs/cluster-api/issues/9858 and https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/4618
            - --sync-period=2m
            - --v=0
