version: 2.1
orbs:
  architect: giantswarm/architect@6.14.1

jobs:
  check-china-image:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Check if image exists in China registry
          command: |
            echo Login
            docker login --username $ALIYUN_USERNAME --password $ALIYUN_PASSWORD giantswarm-registry.cn-shanghai.cr.aliyuncs.com

            tag=$(grep -E '^tag:' helm/cluster-api-provider-aws/values.yaml | awk '{print $2}' | tr -d '"' | tr -d "'")
            image="giantswarm-registry.cn-shanghai.cr.aliyuncs.com/giantswarm/cluster-api-aws-controller-amd64:${tag}"

            echo "Checking if image exists: ${image}"
            # This fails if the image does not exist (for example, hasn't finished pushing from our fork CircleCI pipeline)
            (set -x; docker manifest inspect "${image}") || {
              echo "ERROR: See error above. If the image does not exist yet, check the CAPA fork pipeline at https://app.circleci.com/pipelines/github/giantswarm/cluster-api-provider-aws/."
              exit 1
            }

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-to-app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: cluster-api-provider-aws
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-collection:
        name: capa-app-collection
        context: architect
        app_name: cluster-api-provider-aws
        app_namespace: giantswarm
        app_collection_repo: capa-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

  check-china-image-workflow:
    jobs:
      - check-china-image:
          context: architect # for ALIYUN_PASSWORD and other values
          filters:
            tags:
              only: /^v.*/
