resources:
  - bases/awsmanagedcontrolplanes.controlplane.cluster.x-k8s.io.yaml
  - bases/awsmanagedcontrolplanetemplates.controlplane.cluster.x-k8s.io.yaml
  - bases/rosacontrolplanes.controlplane.cluster.x-k8s.io.yaml
patches:
  - path: patches/versions/v1beta1/awsmanagedcontrolplanes.controlplane.cluster.x-k8s.io.yaml
    target:
      group: apiextensions.k8s.io
      version: v1
      kind: CustomResourceDefinition
      name: awsmanagedcontrolplanes.controlplane.cluster.x-k8s.io
  - path: patches/versions/v1beta2/awsmanagedcontrolplanes.controlplane.cluster.x-k8s.io.yaml
    target:
      group: apiextensions.k8s.io
      version: v1
      kind: CustomResourceDefinition
      name: awsmanagedcontrolplanes.controlplane.cluster.x-k8s.io
  - path: patches/versions/v1beta2/awsmanagedcontrolplanetemplates.controlplane.cluster.x-k8s.io.yaml
    target:
      group: apiextensions.k8s.io
      version: v1
      kind: CustomResourceDefinition
      name: awsmanagedcontrolplanetemplates.controlplane.cluster.x-k8s.io
  - path: patches/versions/v1beta2/rosacontrolplanes.controlplane.cluster.x-k8s.io.yaml
    target:
      group: apiextensions.k8s.io
      version: v1
      kind: CustomResourceDefinition
      name: rosacontrolplanes.controlplane.cluster.x-k8s.io
